<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'me' %>
  <%= favicon_tag 'images/favicon.ico' %>
</head>

<body>
  <div class="page">
    <div class="grid-container">
      <div class="container-foto">
        <img src="/images/foto_cv.png" class="foto" alt="Profile photo">
      </div>

      <div class="container-titolo">
        <span class="titolo">
          <h1>Simone Bravo</h1>
          <svg class="ruby" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M168.5 72L256 165l87.5-93h-175zM383.9 99.1L311.5 176h129L383.9 99.1zm50 124.9H256 78.1L256 420.3 433.9 224zM71.5 176h129L128.1 99.1 71.5 176zm434.3 40.1l-232 256c-4.5 5-11 7.9-17.8 7.9s-13.2-2.9-17.8-7.9l-232-256c-7.7-8.5-8.3-21.2-1.5-30.4l112-152c4.5-6.1 11.7-9.8 19.3-9.8H376c7.6 0 14.8 3.6 19.3 9.8l112 152c6.8 9.2 6.1 21.9-1.5 30.4z"/></svg>
          <h3>Ruby developer.</h3>
        </span>
      </div>

      <div class="separatore"></div>

      <div class="left-bar">
        <h4>Contacts:</h4>
        <p class="titolo-testo">Email:</p>
        <p class="testo red">simonebravo96@gmail.com</p>

        <p class="titolo-testo">LinkedIn:</p>
        <p class="testo red">linkedin.com/in/bravosimone/</p>

        <div class="separatore"></div>

        <h4>About me:</h4>
        <p class="testo">
          Hi, I'm Simone, an Italian Ruby developer focused on Ruby. I started
          exploring Ruby in my last year of high school and never stopped. In my
          free time, I enjoy playing basketball, self-hosting random services,
          and cruising around with my small FIAT 126.
        </p>

        <div class="separatore"></div>

        <h4>Languages:</h4>
        <p class="titolo-testo">Italian:</p>
        <p class="testo">Native</p>

        <p class="titolo-testo">English:</p>
        <p class="testo">
          Fluent in both technical and everyday communication
        </p>

        <div class="separatore"></div>

        <h4>I'm looking for:</h4>
        <p>
          A company where I can improve my skills and grow my career.
        </p>
      </div>

      <div class="content">
        <div class="content-grid-container">
          <h4>Experience:</h4>
          <br>

          <div class="posizione">
            <p class="titolo-testo">Vox spa</p>
            <p class="data">06/2025 - <span class="red">current</span></p>
          </div>
          <div class="descrizione-posizione">
            <p class="testo">
              At Vox, I work as a full stack developer using Ruby on Rails,
              and I'm learning Elixir and Phoenix by rewriting a full Rails
              application from scratch.
            </p>
            <div class="separatore"></div>
          </div>

          <div class="posizione">
            <p class="titolo-testo">TIM spa</p>
            <p class="data">04/2024 - 06/2025</p>
          </div>
          <div class="descrizione-posizione">
            <p class="testo">
              At TIM, I worked full stack with Ruby on Rails and Hotwire.
              Applications focused on helping customers keep their
              infrastructure secure by tracking CVEs.
            </p>
            <div class="separatore"></div>
          </div>

          <div class="posizione">
            <p class="titolo-testo">Profinda ltd</p>
            <p class="data">04/2021 - 01/2024</p>
          </div>
          <div class="descrizione-posizione">
            <p class="testo">
              At Profinda, I worked as a backend developer, focused on APIs.
              This was my first fully remote experience with a distributed team.
              I also explored other technologies to better support different
              departments.
            </p>
            <div class="separatore"></div>
          </div>

          <div class="posizione">
            <p class="titolo-testo">C&C srl</p>
            <p class="data">05/2020 - 11/2020</p>
          </div>
          <div class="descrizione-posizione">
            <p class="testo">
              While studying at university, I continued working for a former
              Nebulab client, mainly handling bug fixes and small features.
            </p>
            <div class="separatore"></div>
          </div>

          <div class="posizione">
            <p class="titolo-testo">Nebulab srls</p>
            <p class="data">10/2016 - 08/2019</p>
          </div>
          <div class="descrizione-posizione">
            <p class="testo">
              At Nebulab, I worked as a consultant on eCommerce projects using
              Ruby, Rails, and Solidus. I collaborated with clients to refine
              features and balance requirements with implementation cost, and
              contributed to open source projects.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>
